*.exe
Proba_35_szamok100/Proba_35_szamok100.dcu
Proba_35_szamok100/Proba_35_szamok100.dfm
Proba_35_szamok100/Proba_35_szamok100.~dfm
Proba_35_szamok100/Proba_35_szamok100.~pas
Proba_35_szamok100/Project1.cfg
Proba_35_szamok100/Project1.dof
Proba_35_szamok100/Project1.dpr
Proba_35_szamok100/Project1.res
